<div id="loginPage">
  <div class="header">
    <div class="toBack">
      <a href="#/main"><i></i></a>
    </div>
    <h3>登录</h3>
  </div>
  <div class="logoImg">
    <img src="img/ponyLogo.png"/>
  </div>
  <div class="loginForm">
    <div class="formGroup">
      <label class="userName" for="userName">
        <i></i>
      </label>
      <input id="userName" placeholder="请输入您的手机号" ng-model="$userN" type="number"/>
    </div>
    <div class="formGroup">
      <label class="userPwd" for="userPwd">
        <i></i>
      </label>
      <input id="userPwd" placeholder="请输入您的密码" ng-model="$userP" type="password"/>
    </div>
    <p class="hint">未注册小马驾驾帐号的手机号，登陆时将自动完成注册，且代表您已阅读并同意<a href="#/ponyAgreement">《小马驾驾用户协议》</a></p>
    <div class="formBtn">
      <button ng-click="loginBtn($userN,$userP)">登录</button>
      <div class="userAbout clearfix">
        <a href="#/restPwd">忘记密码?</a>
        <a href="#/register">立即注册</a>
      </div>
    </div>
  </div>
  <div class="wxAndqq">
    <div class="tit">
      <h4>第三方登录</h4>
    </div>
    <div class="wxAndqqLogin clearfix">
      <a ng-click="noServer()"class="wxLogin" href="">
        <i></i>
        <span>微信</span>
      </a>
      <a ng-click="noServer()"class="qqLogin" href="">
        <i></i>
        <span>QQ</span>
      </a>
    </div>
  </div>
</div>




























