<div id="tireDetailPage" style="min-height: {{height}}px">
  <div class="header">
    <div class="toBack">
      <a ng-click="toBack()" href=""><i></i></a>
    </div>
    <div class="toOtherSel">
      <a ng-click="toTireSelSize()" href="">切换规格</a>
    </div>
    <h3>{{detailTit}}</h3>
  </div>
  <!-- 商品主体区域 -->
  <div class="tireDetailBody">
    <!-- 商品banner图片轮播  -->
    <div class="tireBannerImg">
      <div class="bannerImgList">
        <ul>
          <li ng-repeat="itemImg in bannerImgList track by $index" class="{{$index==0?'active':''}}">
            <img ng-src="{{itemImg}}">
          </li>
        </ul>
      </div>
      <div class="bannerNumList">
        <ul class="clearfix">
          <li ng-repeat="itemImg in bannerImgList track by $index" class="{{$index==0?'active':''}}"></li>
        </ul>
      </div>
    </div>
    <!-- 商品数量 -->
    <div class="tireBuyNum">
      <h3>购买数量</h3>
      <div class="inputNum">
        <span ng-click="tireMinusNum(tireBuyNum)" class="numMinus fa fa-minus"></span>
        <input id="tireNumInput" class="tireToBuyNum" value="{{tireBuyNum}}" disabled="true" type="number">
        <span ng-click="tirePlusNum(tireBuyNum)" class="numPlus fa fa-plus"></span>
      </div>
    </div>
    <!-- 商品增值服务  -->
    <div class="tireAddServer">
      <div class="tit">
        <h3><i></i>增值服务</h3>
        <div class="serverDetail">
          <p>{{addServerDetailHtml}}</p>
        </div>
      </div>
      <div class="addServerList">
        <ul>
          <li ng-repeat="item in addServerList" data-addserverid={{item.id}} data-addservername="{{item.name}}">
            <a>
              <h4>
                <span>{{item.name}}</span>
                <!-- <span class="itemSelIcon">✔</span> -->
                <div class="inputNum">
                  <span class="numMinus fa fa-minus"></span>
                  <input id="cxwyNumInput" class="serverToBuyNum" value="1" disabled="true" type="number">
                  <span class="numPlus fa fa-plus"></span>
                </div>
              </h4>
              <p>{{item.description}}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="selBtn">
      <a ng-click="affirmTireServer()" href="">下一步</a>
    </div>
  </div>
</div>