<div id="tireServerRecordPage" style="height:{{height}}px;overflow:auto;">
  <div class="header">
    <div class="toBack">
       <a ng-click="toBack()" href=""><i></i></a>
    </div>
    <h3>轮胎服务记录</h3>
  </div>
  <div class="recordList">
    <ul>
      <li ng-repeat="item in tireServerDate" class="{{item.subtype_id==1?'original':item.subtype_id==3?'repair':'change'}}">
        <a href="">
          <p>服务项目:<span>{{item.service}}</span></p>
          <p>门店名称:<span>{{item.store}}</span></p>
          <p>服务时间:<span>{{item.time}}</span></p>
        </a>
        <i></i>
      </li>
    </ul>
  </div>
</div>