<div id="ponyShopMainPage" style="min-height:{{height}}px">
  <div class="header">
    <div class="top">
      <h3>订单</h3>
    </div>
    <div ng-click="toOrderList()" class="orderMsg">
      <h1>{{orderTotal}}</h1>
      <p>总订单(单)</p>
    </div>
  </div>
  <!-- 订单汇总区域 -->
  <div class="orderCollect">
    <!-- 订单分类 -->
    <div class="orderClassify">
      <ul class="clearfix">
        <li>
          <span>未完成订单</span>
          <p><span>{{orderUnFinish}}</span>(单)</p>
        </li>
        <li>
          <span>已完成订单</span>
          <p><span>{{orderFinished}}</span>(单)</p>
        </li>
      </ul>
    </div>
    <!-- 订单时间列表 -->
    <div class="orderTimeList">
      <ul class="clearfix">
        <li class="active">
          <span>今日</span>
        </li>
        <li><span>7天</span></li>
        <li><span>15天</span></li>
        <li><span>30天</span></li>
      </ul>
    </div>
    <!-- 订单详细列表 -->
    <div class="orderDetailList" style="height:{{height-(200+55+31+52)}}px">
      <div class="detailList">
        <ul>
          <li ng-repeat="item in orderList">
            <a href="#/orderDetail/{{item.order_id}}">
              <i><img ng-src="img/serverType{{item.order_type_id}}.png"></i>
              <span class="serverName">{{item.order_type}}</span>
              <span class="userCarNum">{{item.plat_number}}</span>
              <span class="sign"><b class="{{item.is_read==1?'':'active'}}"></b><i></i></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer">
    <ul>
      <li class="userOrder">
        <a href="">
          <span>
            <i></i>
            <b>订单</b>
          </span>
        </a>
      </li>
      <li class="userShop">
        <a href="#/shopEarningsList">
          <span>
            <i></i>
            <b>店铺</b>
          </span>
        </a>
      </li>
      <li class="userCenter">
        <a href="#/userSetting">
          <span>
            <i></i>
            <b>我的</b>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>