<div id="mainPage">
  <!--页头-->
  <div class="header">
    <div class="headerLeft">
      <a href="#/selCity">
        <i></i><span>{{addressCity}}</span>
      </a>
    </div>
    <h1>小马驾驾</h1>
  </div>
  <!--banner-->
  <div class="banner">
    <div class="userReg">
      <a href="#/register">
        <img src="img/userReg.png"/>
      </a>
    </div>
    <div class="userBolgAdd">
      <a href="#/userBolgConfig/null">
        <img src="img/userBolgAdd.png"/>
      </a>
    </div>
    <div class="userBolgCreate">
      <a href="#/userBolgConfig/{{userCar.id}}">
        <div class="userCarDetail">
          <h4>{{userCar.car_name.split("-")[0]}}</h4>
          <p>{{userCar.plat_number}}</p>
          <img ng-src="{{userCar.img_url}}">
        </div>
        <img src="img/userBolg.png"/>
      </a>
    </div>
  </div>
  <!--服务项目-->
  <div class="product">
    <ul class="clearfix">
      <li>
        <a ng-click="toTireServer()">
          <b><img src="img/tire.png"></b>
          <span>轮胎服务</span>
        </a>
      </li>
      <li>
        <a ng-click="toUpkeepServer()">
          <b><img src="img/upkeep.png"></b>
          <span>汽车保养</span>
        </a>
      </li>
      <li>
        <a ng-click="toBeautyServer()">
          <b><img src="img/rinse.png"></b>
          <span>美容清洗</span>
        </a>
      </li>
      <li>
        <a ng-click="noServer()">
          <b><img src="img/more.png"></b>
          <span>更多</span>
        </a>
      </li>
    </ul>
  </div>
  <!--广告-->
  <div class="advert">
    <h3>为什么选择我们</h3>
    <ul>
      <li>
        <p>一次购买<br/>终身更换</p>
      </li>
      <li>
        <p>洗车保养<br/>轮胎修补</p>
      </li>
      <li>
        <p>充值马粮<br/>多充多送</p>
      </li>
    </ul>
  </div>
  <!--页脚-->
  <div class="footer">
    <ul class="clearfix">
      <li>
        <a>
          <i></i>
          <span>首页</span>
        </a>
      </li>
      <li>
        <a ng-click="toShopList()">
          <i></i>
          <span>附近门店</span>
        </a>
      </li>
      <li>
        <a ng-click="toUserCenter()" href="">
          <i></i>
          <span>我的</span>
        </a>
      </li>
    </ul>
  </div>
</div>
